<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrering</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Bibliotek Utlån</h2>
    <p>Opprett en konto</p>

    <nav><a href="{{url_for('faq')}}">FAQ</a></nav>

    <form method="POST">
        <label>Navn</label>
        <input type="text" name="name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Passord</label>
        <input type="password" name="password" required>

        <button type="submit">Registrer</button>
    </form>

  <p>Har du allerede en konto? <a href="{{ url_for('login') }}">Logg inn</a></p>

</body>
</html>